@import 'colours';

pre.diff {
  color: $text !important;
}

.diff-add-line::before, .diff-remove-line::before, .diff-context::before {
  display: inline-block;
  color: $text;
  -webkit-user-select: none;
}

.diff-file-header {
  font-weight: bold;
}

.diff-file-header > span > span {
  font-weight: normal;
}

.diff-add-line {
  background: #485e30;
  display: block;

  &::before {
    content: '+ ';
  }
}

.diff-remove-line {
  background: #8c4351;
  display: block;

  &::before {
    content: '- ';
  }
}

.diff-context {
  &::before {
    content: '  ';
  }
}